<form class="form" (ngSubmit)="save()" *ngIf="dataLoaded" ngNativeValidate>
  <div class="form-group">
    <label>Kategorije</label>
    <select required name="category" class="form-control"  [compareWith]="byId" [(ngModel)]="news.category">
      <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>  
    </select> 
  </div>
 
  <div class="form-group">
    <label>Naslov</label>
    <input required type="text" name="name" class="form-control" [(ngModel)]="news.title"/>
  </div>
  <div class="form-group">
    <label>Opis</label>
    <input required type="text" name="price" class="form-control" [(ngModel)]="news.description"/>
  </div>
  <div class="pull-right">
    <input type="submit" class="btn btn-primary" value="save"/>
    <button class="btn btn-warning" [routerLink]="['/menu']">Povratak na glavni meni</button>      
  </div>
  </form>
  