<div class="container">
  <div class="container" *ngIf="page">
    <div class="inline">
      <div class="col-md-12">
        <div class="row">
           <app-filter (filterNews)="search($event)"></app-filter>    
        </div>
        <div class="button-group">
          <label class="text-center">Vesti po stranici</label>
          <select [(ngModel)]="itemsPerPage" (change)="itemsPerPageChanged($event.target.value)">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>40</option>
          </select>
          <label class="text-center">Trenutna stranica: {{currentPageNumber + 1}}/{{totalPages}} </label>
          <button class="btn btn-sm btn-success" *ngIf="isLoggedIn() && isAdmin()" [routerLink]="['/add']">Dodaj vest</button>
          <button class="btn btn-sm btn-primary pull-right" [disabled]="currentPageNumber>=page.totalPages-1" (click)="changePage(1)">
            <span class="glyphicon glyphicon-forward"></span>
          </button>
          <button class="btn btn-sm btn-primary pull-right" [disabled]="currentPageNumber<1" (click)="changePage(-1)">
            <span class="glyphicon glyphicon-backward"></span>
          </button>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Kategorija</th>
              <th>Naslov</th>
              <th>Opis</th>
              <th *ngIf="isLoggedIn()">Akcija</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let component of page.content">
              <td>{{component.category.name}}</td>
              <td>{{component.title}}</td>
              <td>{{component.description}} <button class="btn btn-info">detalji</button></td>
              <td *ngIf="isLoggedIn()" style="width: 250px">
                <button class="btn btn-danger" *ngIf="isAdmin()" (click)="delete(component.id)">brisanje</button>
                <button class="btn btn-warning" *ngIf="isAdmin()" [routerLink]="['/edit', component.id]">izmena</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>